/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.html-layout {
    background: url(images/bg.png) no-repeat center center fixed;
    background-size: 100% 100%;
    height: 800px;
    background-attachment: fixed;
    z-index: -1000;
}

/* nav bar*/
:root {
    --background: rgba(109, 171, 183, .85);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.navigation-header {
    background: var(--background);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px #000;
    -moz-box-shadow: 0 8px 6px -6px #000;
    box-shadow: 0 8px 6px -6px #000;
}

.navigation-toggle {
    display: none;
}

.navigation-bar {
    background: var(--background);
    position: absolute;
    text-align: left;
    top: 100%;
    width: 100%;
    left: 0;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.navigation-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-bar li {
    margin-bottom: 1em;
    margin-left: 1em;
}

.navigation-bar a {
    color: #E1F5FA;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.navigation-bar a:hover {
    color: #000;
}

.navigation-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.navigation-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.navigation-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation-toggle-label span,
.navigation-toggle-label span::before,
.navigation-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative
}

.navigation-toggle-label span::before,
.navigation-toggle-label span::after {
    content: '';
    position: absolute;
}

.navigation-toggle-label span::before {
    bottom: 7px;
}

.navigation-toggle-label span::after {
    top: 7px;
}

@media screen and (min-width: 800px) {
    .navigation-toggle-label {
        display: none;
    }

    .navigation-header {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 1;
    }

    .navigation-bar {
        all: unset;
        grid-column: 2 / 3;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation-bar a {
        opacity: 1;
        position: relative;
    }

    .navigation-bar a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -1em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    .navigation-bar a:hover::before {
        transform: scale(1,1);
    }

    .navigation-bar ul {
        display: flex;
    }

    .navigation-bar li {
        margin-left: 3em;
        margin-bottom: 0;
    }
}
/* end nav bar*/

/*table*/
/* ------------------------------------ */
.limiter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.limiter a {
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.limiter a:focus {
    outline: none !important;
}

.limiter a:hover {
    text-decoration: none;
}

.limiter h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.limiter p {
    margin: 0px;
}

.limiter ul, li {
    margin: 0px;
    list-style-type: none;
}

.limiter input {
    display: block;
    outline: none;
    border: none !important;
}

.limiter textarea {
    display: block;
    outline: none;
}

.limiter textarea:focus, input:focus {
    border-color: transparent !important;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

iframe {
    border: none !important;
}

/*[ Scrollbar ]*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #216a7c;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
}

/*[ Table ]*/
.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 1170px;
}

/*[ Table ]*/
.table100 {
    background: rgba(109, 171, 183, 0.5);
}

table {
    width: 100%;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}

.column1 {
    width: 33%;
    padding-left: 40px;
}

.column2 {
    width: 13%;
}

.column3 {
    width: 13%;
}

.column4 {
    width: 13%;
}

.column5 {
    width: 13%;
}

.column6 {
    width: 13%;
}

.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

.table100-body td {
    padding-top: 16px;
    padding-bottom: 16px;
}

/*[ Fix header ]*/
.table100 {
    position: relative;
    padding-top: 60px;
}

.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.table100-body {
    max-height: 585px;
    overflow: auto;
}


/*[ Design ]*/
.table100.ver1 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: rgb(33, 106, 124) 
}

.table100.ver1 td {
    font-family: Lato-Regular;
    font-size: 15px;
    color: white;
    line-height: 1.4;
}

.table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver1 .ps__rail-y {
    right: 5px;
}

.table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
}

.table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
}
/*end table*/

/*About box*/
.box {
    width: 450px;
    background: rgba(109, 171, 183, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
}

.box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p {
    text-align: justify;
}

ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}

.box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}

.box li a:hover {
    color: #b9b9b9;
}
/*end About box*/

.movie-table img {
    object-fit: cover;
    width: 100px;
    height: 150px;
}