<script src="https://use.fontawesome.com/d1341f9b7a.js"></script>

<div class="box">
    <img src="../../Content/images/uganda.jpg" alt="" class="box-img">
    <h1>
        Uganda Movies
    </h1>
    <h5>
        Best of the best Movie Rental System
    </h5>
    <p>
        The best of the best Movie Rental System in the world. Best quality movies. Best action movies. Best 4K UHD movies. Best team support for customers in the world.
    </p>
    <ul>
        <li><a href="https://www.facebook.com/UgandaMovies/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/ugfilmcouncil?lang=en" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
        <li><a href="https://www.youtube.com/watch?v=KEoGrbKAyKE" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
    </ul>
</div>