@using MovieRentalSystem.Models.ViewClasses;
@model IList<MovieViewClass>

<style>
    .rent-button {
        background-color: #216a7c;
        -moz-border-radius: 42px;
        -webkit-border-radius: 42px;
        border-radius: 42px;
        border: 2px solid #18ab29;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Verdana;
        font-size: 25px;
        font-weight: bold;
        padding: 5px 16px;
        text-decoration: none;
    }

    .rent-button:hover {
        background-color: white;
        color: #216a7c;
    }
</style>

@if (Model.Count == 0)
{
    <div>
        Cosul tau este gol
    </div>
}
else
{
    <div class="positioning-container">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">
                        <div class="table100-head">
                            <table>
                                <thead class="table-head">
                                    <tr class="row100 head">
                                        <th class="cell100 column1">Poza</th>
                                        <th class="cell100 column2">Nume</th>
                                        <th class="cell100 column2">Sterge</th>
                                </thead>
                            </table>
                        </div>

                        <div class="table100-body js-pscroll">
                            <table class="movie-table">
                                <tbody>
                                    @foreach (var filmulCurrent in Model)
                                    {
                                        <tr id="@filmulCurrent.Id" class="row100 body">
                                            <td class="cell100 column1"><img src="@filmulCurrent.PozaURL" /></td>
                                            <td class=" cell100 column2">@filmulCurrent.Nume</td> 
                                            <td class="cell100 column3">
                                                <input class="rent-button" type="button" value="-" onclick="" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
