@using MovieRentalSystem.Models;
@model IList<Movie>

<table style="width:100%; margin-top: 30px;">
    @foreach (var filmulCurrent in Model)
    {
    <tr id="@filmulCurrent.Id">
        <th>@filmulCurrent.Name</th>
        @if (filmulCurrent.IsRented == 0 || filmulCurrent.IsRented == null)
        {
            <th>Liber</th>
        }
        else if (filmulCurrent.IsRented == 1)
        {
            <th>Inchiriat</th>
        }
    </tr>
    }
</table>