@using MovieRentalSystem.Models.ViewClasses;
@model UserViewModel
<div class="modal fade" id="create-user-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Create User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="create-user">
                @Html.Partial("~/Views/Admin/Modals/_ModalCreateUserBody.cshtml", Model)
            </div>
            <div class="modal-footer margin-10">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createUser()">Create</button>
            </div>
        </div>
    </div>
</div>